In [1]:
import pandas as pd

In [66]:
#clean meteorological data time stamps and eliminate seemingly irrelevant columns
meteorological_df = pd.read_excel('hw03-data/Sensor Data/Meteorological Data.xlsx')
if 'Date' in meteorological_df.columns:
    meteorological_df['timeStamp'] = pd.to_datetime(meteorological_df['Date'], errors='coerce')
else:
    print('Column "Date" not found')
meteorological_df = meteorological_df.drop(columns=['Date'])
meteorological_df = meteorological_df.drop(columns=['Unnamed: 3'])
meteorological_df = meteorological_df.drop(columns=['Elevation (m)'])

meteorological_df.head()

   Wind Direction  Wind Speed (m/s)           timeStamp
0           190.5               4.0 2016-04-01 00:00:00
1           203.3               5.0 2016-04-01 03:00:00
2           201.1               5.2 2016-04-01 06:00:00
3           204.9               4.1 2016-04-01 09:00:00
4           207.0               3.6 2016-04-01 12:00:00

In [56]:
#clean sensor data time stamps 
sensor_df = pd.read_excel('hw03-data/Sensor Data/Sensor Data.xlsx')
if 'Date Time ' in sensor_df.columns:
    sensor_df['timeStamp'] = pd.to_datetime(sensor_df['Date Time '], errors='coerce')
else:
    print('Column "Date Time" not found')
sensor_df = sensor_df.drop(columns=['Date Time '])
sensor_df.head()

         Chemical  Monitor   Reading  timeStamp
0  Methylosmolene        3  2.683820 2016-04-01
1  Methylosmolene        7  2.630640 2016-04-01
2    Chlorodinine        3  1.259170 2016-04-01
3    Chlorodinine        7  0.943983 2016-04-01
4         AGOC-3A        3  0.722303 2016-04-01

In [79]:
# Count unique dates in both DataFrames
sensor_date_count = sensor_df['timeStamp'].dt.date.nunique()
meteorological_date_count = meteorological_df['timeStamp'].dt.date.nunique()

# Print the counts
print(f"Unique Dates in Sensor Data: {sensor_date_count}")
print(f"Unique Dates in Meteorological Data: {meteorological_date_count}")

Unique Dates in Sensor Data: 92
Unique Dates in Meteorological Data: 89

In [83]:
# Find common dates
common_dates = set(sensor_dates) & set(meteorological_dates)

# Filter both DataFrames to keep only rows with common dates
sensor_df_filtered = sensor_df[sensor_df['timeStamp'].dt.date.isin(common_dates)]
meteorological_df_filtered = meteorological_df[meteorological_df['timeStamp'].dt.date.isin(common_dates)]

In [84]:
# Count unique dates in both DataFrames
sensor_date_count = sensor_df_filtered['timeStamp'].dt.date.nunique()
meteorological_date_count = meteorological_df_filtered['timeStamp'].dt.date.nunique()

# Print the counts
print(f"Unique Dates in Sensor Data: {sensor_date_count}")
print(f"Unique Dates in Meteorological Data: {meteorological_date_count}")

Unique Dates in Sensor Data: 89
Unique Dates in Meteorological Data: 89

In [102]:
# Group by date and calculate the average wind direction and speed
meteorological_df_filtered['day'] = meteorological_df_filtered['timeStamp'].dt.round('1d')
average_meteorological_df_filtered = meteorological_df_filtered.groupby('day').size().reset_index(name='Calls')
average_meteorological_df_filtered = meteorological_df_filtered.groupby('day').agg(
    Average_Wind_Direction=('Wind Direction', 'mean'),
    Average_Wind_Speed=('Wind Speed (m/s)', 'mean')
).reset_index()
average_meteorological_df_filtered.head()

/var/folders/lc/3lf1vl6d5278xt54g66z2f880000gn/T/ipykernel_11654/4289384344.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meteorological_df_filtered['day'] = meteorological_df_filtered['timeStamp'].dt.round('1d')

         day  Average_Wind_Direction  Average_Wind_Speed
0 2016-04-01              201.360000            4.380000
1 2016-04-02              257.028571            2.328571
2 2016-04-03              262.266667            2.644444
3 2016-04-04              299.128571            3.871429
4 2016-04-05              301.844444            1.522222